@import "tailwindcss";
@import "tw-animate-css";

@layer base,components, theme, utilities;

@theme {
  --color-primary-600: #0f2122;
  --color-primary-500: #182d2e;
  --color-border: #1f2e2f;
  --color-white: #f4f4f4;
  --color-white-500: #d1d5d6;
  --color-white-600: #a0a9aa;

  --color-red-500: #ff6b6b;

  --color-green-primary: #3fcf8e;
  --color-green-500: #7fd6c0;
  --color-green-600: #4fb8a4;

  --font-playFair: "var(--font-playFair)";
  --font-inter: "var(--font-inter)";
}

@theme inline {
  --color-background: var(--color-primary-600);
  --color-card-bg: var(--color-primary-500);
  --color-text-heading: var(--color-white);
  --color-text-body: var(--color-white-500);
  --color-text-placeholder: var(--color-white-600);

  --color-link: var(--color-green-primary);
  --color-link-hover: var(--color-green-500);

  --color-error: var(--color-red-500);
  --color-success: var(--color-green-primary);

  --font-serif: var(--font-playFair);
  --font-sans: var(--font-inter);
}

@layer base {
  * {
    @apply m-0 p-0 box-border font-sans;
  }

  body {
    @apply bg-background text-text-body w-full h-full;
  }

  h1 {
    @apply text-4xl uppercase font-semibold text-text-heading font-serif tracking-[-0.25px];
  }

  h2 {
    @apply text-3xl lg:text-4xl font-semibold text-text-heading font-serif tracking-[-0.25px];
  }

  h3 {
    @apply text-2xl font-medium text-text-heading font-sans tracking-[-0.25px];
  }

  p {
    @apply text-base text-text-body font-sans;
  }
}

@layer utilities {
  .navLinks {
    @apply uppercase text-white/50 p-2 tracking-wide cursor-pointer transition-all duration-300 ease-in-out font-medium hover:text-white hover:font-semibold hover:scale-105;
  }

  .activeNavLink {
    @apply text-white font-semibold scale-105;
  }

  .flexCenter {
    @apply items-center justify-center;
  }

  .flexBetween {
    @apply justify-between items-center;
  }

  .subtitle {
    @apply md:text-xl text-center font-sans text-text-body tracking-normal leading-6;
  }

  .linear_shade {
    @apply pointer-events-none absolute top-0 h-full w-16 z-10;
  }

  .linear_shade.left {
    @apply left-0 bg-gradient-to-r from-primary-600 to-transparent;
  }

  .linear_shade.right {
    @apply right-0 bg-gradient-to-l from-primary-600 to-transparent;
  }

  .arrow_btn {
    @apply absolute bg-primary-600 py-8 w-10 h-10 flex items-center justify-center;
  }

  .result-tag {
    @apply py-[5px] px-4 bg-white-600 uppercase absolute top-2 right-2 rounded-md text-sm font-medium tracking-wider text-primary-600;
  }

  .result-container {
    @apply flex items-center justify-center relative border border-white-500 pb-4 md:pb-8 pt-14 md:pt-10 lg:pt-14 rounded-[20px] h-[490px] md:h-[520px];
  }
}

@layer components {
  .navBar {
    @apply py-4 px-6 lg:px-14 lg:py-7 fixed top-0 left-0 w-full z-50;
  }

  .openMenuOverlay {
    @apply fixed inset-0 w-full max-h-screen h-full bg-background z-50 flex flex-col justify-between overflow-hidden;
  }

  .service-card {
    @apply w-full flex flex-col items-start md:p-3 h-full;
  }

  .featured-logo {
    @apply opacity-50 hover:opacity-100 transition-opacity duration-300 ease-linear cursor-pointer object-contain w-24 md:w-32;
  }
}
